body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 16rem;
    max-width: 16rem;
    gap: 1px;


}

.newDiv {
    border: 1px, solid, black;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 4rem;
    height: 4rem;

}