body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: 600px;
    width: 600px;



}

.newDiv {
    border: 1px, solid, black;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 4rem;
    height: 4rem;

}

/* putting some test styles down here while trying to figure out container & squares */
.box {
    border: 1px, solid, black;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    flex:0 1 33.3%;

}