body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    gap: 1px;
    justify-content: center;
    align-content: stretch;

}

.newDiv {
    border: 1px, solid, black;
    box-sizing: border-box;
    padding: 0px;
    flex: 0 0 40px;

}